* {
    font-family: 'Roboto';
}
/* General */
body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    color: #999999;
}
header{
    background-color: #fafafa;
}
.row{
    margin: 0;
}
.container-fluid{
    padding: 0;
}

/* Navbar */
#navbar img{
    max-width: 150px;
}
#navbar{
    justify-content: space-between;
    background-color: #fafafa;
    padding: 5px 0;
}
#navbar a:hover{
    color: crimson;
}

/* Search Container*/
#search-container{
    background-image: url("../img/banner.jpg");
    background-color:seashell;
    background-size: cover;
    background-position: center;
    height: 558px;
    padding: 80px 20px 20px 0px;
    text-align: left;
}
#search{
    width: 800px;
    height: 90px;
    text-align: center;
    background-color: rgba(255,255,255, 0.4);
    margin-left: 50px;
}
#search-container h1{
    margin-top: 80px;
    margin-left: 50px;
    color: #fff;
    font-weight: 400;
}

/* Loja list */
#lojas-container{
    color: #999999;
    padding: 10vh;
}
#lojas-container .card{
    flex: 1 1 0;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-top: 40px;
    border-radius: 15px;
}
#lojas-container .card-title{
    margin-top: 10px;
    color: #C82333;
}
#lojas-container h2{
    margin: 20px 0px 20px 0px;
    text-align: center;
    color: #C82333;
}
#lojas-container p{
    text-align: center;
}

/* Footer */
footer{
    text-align: center;
    background-color: #C82333;
    padding: 30px;
    bottom: 0;
    width: 100%;
    color:#fff;
    position: absolute;
}

footer p{
    margin: 0;
}

/* Create loja */
#loja-create-container{
    padding: 40px 0px 100px 0;
}
#loja-create-container label {
    font-weight: 600;
}
#loja-create-container h1{
    text-align: center;
    margin: 40px 0 40px 0;
}
#mensagem{
    width: 100%;
    margin-bottom: 0;
}
#mensagem p{
    margin-bottom: 0;
}

/* Detalhe loja */
#detalhe-loja{
    padding-top: 10vh;
}
#detalhe-loja h1{
   padding-bottom: 15px;
   color: #C82333;
   font-weight: 600;
}
#detalhe-loja p{
    font-size: 25px;
}
